<div class="team-section">
    <div class="heading-teams">
        <h2 class="heading" style="margin-bottom: 8px">Company Bowsers</h2>
       
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../assets/images/bowsers/b1.jpg" alt="Image 1" class="img-fluid grayscale">
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="../../assets/images/bowsers/b2.jpg" alt="Image 2" class="img-fluid grayscale">
            </div>
        </div>
    </div>
</div>