

<div id="carouselExampleDark" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active banner-carousel-item" data-bs-interval="10000"
      style="background-image:url(assets/images/slider-main/bg1.jpg)">
      <div class="h-100 w-100 " style="position: absolute; background: black; opacity: 0.3;"></div>
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <!-- <h2 class="slide-title" data-animation-in="slideInDown">Meet Our Engineers</h2> -->
            <h3 class="slide-sub-title" data-animation-in="fadeIn">Your Safety, Our Priority</h3>
            <p class="slider-description lead" data-animation-in="slideInRight">We prioritize your safety because it's
              the foundation of your path to success.</p>
            <div data-animation-in="slideInLeft">
              <a routerLink="/contact" class="slider btn btn-primary" aria-label="contact-with-us">Get Free Quote</a>
              <a routerLink="/about" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn
                more</a>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="carousel-item banner-carousel-item" data-bs-interval="10000"
      style="background-image:url(assets/images/slider-main/bg2.jpg)">
      <div class="slider-content text-left">
        <div class="h-100 w-100 " style="position: absolute; background: black; opacity: 0.3;"></div>
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-12">
              <h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
              <h3 class="slide-title" data-animation-in="fadeIn">When Service Matters</h3>
              <h3 class="slide-sub-title" data-animation-in="slideInLeft">Your Choice is Simple</h3>
              <p data-animation-in="slideInRight">
                <a href="services.html" class="slider btn btn-primary border">Our Services</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item banner-carousel-item" data-bs-interval="10000"
      style="background-image:url(assets/images/slider-main/bg3.jpg)">
      <div class="h-100 w-100 " style="position: absolute; background: black; opacity: 0.3;"></div>
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <h2 class="slide-title" data-animation-in="slideInDown">Meet Our Engineers</h2>
            <h3 class="slide-sub-title" data-animation-in="fadeIn">Your Safety, Our Priority</h3>
            <p class="slider-description lead" data-animation-in="slideInRight">We prioritize your safety because it's
              the foundation of your path to success.</p>
            <div data-animation-in="slideInLeft">
              <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">Get Free Quote</a>
              <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn
                more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>