<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">We Are Specialists In</h2>
        <h3 class="section-sub-title">What We Do</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon1.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Safe LPG Production</a></h3>
            <p>Delta LPG ensures the safe and environmentally responsible production of liquefied petroleum gas through
              state-of-the-art facilities and adherence to industry best practices.</p>
          </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon2.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Stringent Quality Control</a></h3>
            <p>Our company maintains rigorous quality control measures to guarantee that the LPG we produce meets or
              exceeds industry standards, providing customers with a reliable and high-quality fuel source.</p>
          </div>
        </div><!-- Service 2 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon3.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Comprehensive Safety Assurance</a></h3>
            <p>Delta LPG is committed to the highest safety standards. Our facilities undergo regular safety audits, and
              we employ cutting-edge technologies to monitor and manage potential risks, ensuring a secure production
              environment.</p>
          </div>
        </div><!-- Service 3 end -->

      </div><!-- Col end -->

      <div class="col-lg-4 text-center">
        <img loading="lazy" class="img-fluid" src="../../../assets/images/safety-standards/s4.jpg" alt="service-avater-image" style="margin-top: 190px;">
      </div><!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon4.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Safe Storage and Handling</a></h3>
            <p>We prioritize the safety of our clients by employing advanced storage and handling procedures. Our
              storage facilities are designed to prevent leaks, and our handling processes adhere to the strictest
              safety protocols.</p>
          </div>
        </div><!-- Service 4 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon5.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Efficient Distribution Network</a></h3>
            <p>With a robust and efficient distribution network, Delta LPG ensures the timely and secure delivery of LPG
              to various end-users. Our logistics are optimized for safety, and our delivery processes prioritize
              customer satisfaction.</p>
          </div>
        </div><!-- Service 5 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="assets/images/icon-image/service-icon6.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">ENVIRONMENTAL STEWARDSHIP</a></h3>
            <p>Delta LPG ensures safe production through rigorous quality control and comprehensive safety measures. Our
              eco-conscious practices minimize environmental impact, providing reliable, high-quality LPG with a
              commitment to user education for a greener future.</p>
          </div>
        </div><!-- Service 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->